@import "tailwindcss";

@theme {
  --color-background: #0a0604;
  /* Deep warm dark background */
  --color-foreground: #ffffff;
  --color-primary: #f97316;
  --color-secondary: #fbbf24;
  --font-serif: var(--font-fraunces);
  --font-sans: var(--font-inter);
}

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}